body, html {
    margin: 0;
    padding: 0;
	font-family: "Raleway";
}



.container {
	background: #cc0000;
	color: #fff;
	height: 70vh;
	width: 100%;
	padding-top: 50px;
    position:absolute;
    text-align:center;
    display:table;
}
.logo-container {
	padding: 30px;
}

.logo-container img {
	width: 118px;
	height: 57px;
}

.container h1 {
	display:table-cell; 
	    margin:auto;
    line-height:51px;
    vertical-align:middle;
}

#logout {
	text-decoration: none;
background-color: #EEEEEE;
padding: 10px;
color: #333333;
	border-radius: 8px;
	text-align: center;
	border-shadow:none;
	float: right;
	margin-right: 10px;
	border: 0 none;
	background: #cc0000;
	color: #fff;
		 height: 30px;
	 width: 80px;
	 	 cursor: pointer;
	 font-size: 20px;
	 font-family: 'Raleway', sans-serif;
	z-index: 999;
}
